.wrapper {
    font-family: Roboto;
    min-height: 100vh;
    background: linear-gradient(160deg, rgba(5, 13, 37, 0.22) 9.61%, #2F3341 85.91%);
    /* background-color: #202020; */
    padding: 50px 15px 10px 110px;
    font-size: 1rem;
    color: #fff;
}

.container {
    border-radius: 30px;
    max-width: 1800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 10px;
    zoom: 80%;/*необязательно лучше это убрать*/
}

.day_container {
    border-radius: 15px;
    background: #061432;
    padding: 16px;
}

.subjects {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
