.item {
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 10px;
}

.item__active {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.08);
    padding: 10px;
}

.item:hover {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.08);
}

.item__icon, .item__label {
    text-align: center;
    color: #FFF;
}

.item__label__active {
    text-align: center;
    color: #699BF7;
}

.item__icon {
    height: 35px;
    margin-bottom: 6px;
}

.item__icon img {
    height: 100%;
}