.wrapper {
    height: 100vh;
    background: linear-gradient(162deg, rgba(5, 13, 37, 0.22) 9.86%, #2F3341 87.5%);
    padding: 111px 15px;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    border: 5px solid #FFF;
    background: rgba(105, 155, 247, 0.09);
    box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.10);
    max-width: 527px;
    margin: auto;
    padding: 28px 83px 74px;
}

.logo {
    
}

.input {
    margin: 35px 0 0 0;
    width: 360px;
    padding: 12px 16px;
    border-radius: 3px;
    background: #FFF;
}

.restore {
    align-self: flex-start;
    margin: 9px 0 0 0;
    color: #B7D9F3;
}

.button {
    font-size: 1.125rem;
    margin: 74px 0 0 0;
    border-radius: 3px;
    background: #659BFF;
    display: flex;
    width: 360px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    color: #FFF;
}